.strength-lines {
    z-index: 2;
    position: relative;
    margin: 1px 0 0 1px;

    width: 100%;

    --ghost-bg-color   : var(--bs-gray);
    --valid-bg-color   : var(--bs-success);
    --invalid-bg-color : var(--bs-danger);

    &-admin {
        --ghost-bg-color   : ghostwhite;
        --valid-bg-color   : #00a65a;
        --invalid-bg-color : #dd4b39;
    }

    display            : flex;

    .line {
        background-color : var(--ghost-bg-color);
        height           : 5px;
        width            : 100%;
        margin-left      : 2px;
        margin-right     : 2px;

        &:first-child {
            border-radius: 5px 0 0 5px;
            margin-left : 0px;
        }

        &:last-child {
            border-radius: 0 5px 5px 0;
            margin-right : 0px;
        }

        &--valid {
            background-color : var(--valid-bg-color);
        }

        &--invalid {
            background-color : var(--invalid-bg-color);
        }
    }
}
