<p>
    Bonjour {{ user.firstname }},
</p>
<p>
    Vous utilisez le même mot de passe depuis {{ useTime }}. Pour des questions de sécurité, nous vous invitons à le changer au plus vite depuis <a href="{{ resetLink }}">ce lien</a>
</p>
<p>
    Ce mail vous a été envoyé automatiquement merci de ne pas y répondre.
</p>
