<p>
    Bonjour {{ user.firstname }},
</p>
<p>
    Vous ne vous êtes pas connecté depuis longtemps. Si vous ne vous connectez pas, votre compte sera supprimé. <br>
    Vous pouvez vous connecter depuis <a href="{{ url('app_login') }}">ce lien</a>.
</p>
<p>
    Ce mail vous a été envoyé automatiquement merci de ne pas y répondre.
</p>
