Bonjour,

Voici vos données exportées : <br><br>

{{ data|raw }} <br><br>

{% if archiveLink %}
    <a href="{{ archiveLink }}">Votre archive</a>  <br><br>
{% endif %}

Ce mail vous a été envoyé automatiquement merci de ne pas y répondre.
