{% if object.isEnabled and object.id != app.user.id %}
    <a
        href="{{ path('impersonate', {user: object.id}) }}"
        class="btn btn-sm btn-warning"
        title="{{ 'action_impersonate'|trans({}, 'UserAdmin') }}"
    >
        <i class="fa fa-eye" aria-hidden="true"></i>
    </a>
{% endif %}
